:root {
    --primary-color: blueviolet;
    --secondary-color: blue;
    --background-col: #7caff4;
    --background-col-2: #997cf4;
    --text-shadow: 1.5px 1.5px #FFFFFF;
    --button-margin: 8px 4px;
    --button-paddy: 16px 32px;
    --font-size-button: 18px;
}    

html, body {
  font-family: Arial, sans-serif;
}

body { 
  background-image: linear-gradient(to right, var(--background-col), var(--background-col-2));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.col { 
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
  border: double;
  border-radius: 10px;
}

h2 {
  color: var(--primary-color);
}
